# Amazon ML Challenge dataset
6ab10eb3b23ba_student_resource.zip

# macOS metadata
__MACOSX/
.DS_Store
._*

# Python
__pycache__/
*.pyc
.venv/
venv/
.env
.ipynb_checkpoints/Amazon_ML_Challenge_Data_Preprocessing_Report.pdf 
